<div class="table-responsive">
  <table class="table table-primary" style="font-size: 80%;">
    <!-- <caption>List of users</caption> -->
    <thead>
      <tr >
        <th >State</th>
        <th >Confirmed</th>
        <th >Active</th>
        <th >Recovered</th>
        <th >Deceased</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of topStates">
        <th>{{ row.state }}</th>
        <td>{{ row.confirmed }}</td>
        <td>{{ row.active }}</td>
        <td>{{ row.recovered }}</td>
        <td>{{ row.deceased }}</td>
    </tbody>
  </table>
</div>
